<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedikaGo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/landingPage.css' %}">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
</head>

<body>
    <!-- particlesjs -->
    <div id="particles-js">
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">Medika<span class="text-primary">GO.</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                </form>
                {% if request.session.user %}
                <form action="{% url 'pages:dashAdmin' %}">
                    <button class="btn btn-outline-primary my-2 my-sm-0 rounded-lg btn-reg"
                        type="submit">Dashboard</button>
                </form>
                {% else %}
                <form action="{% url 'user:login' %}">
                    <button class="btn btn-primary mr-2 my-2 my-sm-0 rounded-lg btn-log" type="submit">Login</button>
                </form>
                <form action="{% url 'user:roles' %}">
                    <button class="btn btn-outline-primary my-2 my-sm-0 rounded-lg btn-reg"
                        type="submit">Register</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>



    <div class="container content">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center flex-column">
                <div class="heading1">
                    <h2 class="mb-3 header"><Strong>Sistem Rumah Sakit Terbaik yang dibuat oleh <span
                                class="text-primary">komunitas</span></Strong></h2>
                </div>
                <div class="heading2 mb-3">
                    <p>Dapatkan layanan dan fasilitas terbaik di indonesia!</p>
                </div>
                <div class="cta-but d-flex flex-row">
                    {% if request.session.user %}
                    <form action="{% url 'pages:dashAdmin' %}">
                        <button class="btn btn-outline-primary my-2 my-sm-0 rounded-lg btn-reg"
                            type="submit">Dashboard</button>
                    </form>
                    {% else %}
                    <form action="{% url 'user:login' %}">
                        <button class="btn btn-primary mr-2 my-2 my-sm-0 rounded-lg btn-log"
                            type="submit">Login</button>
                    </form>
                    <form action="{% url 'user:roles' %}">
                        <button class="btn btn-outline-primary my-2 my-sm-0 rounded-lg btn-reg"
                            type="submit">Register</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="back row">
                        <div class="preview container align-items-center justify-content-center" id="lottie">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js"></script>
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    <script>
        console.log("haha")
        const lot = (Math.floor(Math.random() * 10)) % 2 === 0 ? 'community.json' : 'data.json';
        var animation = bodymovin.loadAnimation({
            container: document.getElementById('lottie'), // Required
            path: `../static/img/${lot}`, // Required
            renderer: 'svg/canvas/html', // Required
            loop: true, // Optional
            autoplay: true, // Optional
            name: "LandingPage", // Name for future reference. Optional.
        })
    </script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', "{% static 'js/particlesLanding.json' %}", function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
</body>

</html>