<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedikaGo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
</head>

<body class="row d-flex justify-content-center align-items-center">
    <div id="particles-js">
    </div>

    <form action="{% url 'pages:home' %}">
        <button type="submit" class="btn btn-outline-primary"
            style="position: absolute; top: 20px; left: 20px;">Kembali</button>
    </form>

    <div class="jumbotron register row" style="z-index: 1;">
        <div class="container col-12 d-flex justify-content-center d-flex flex-direction-collumn">
            <div class="text-center">
                <h1 class="mb-5 header"><Strong>Ingin Register Sebagai?</Strong></h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card admin">
                            <div class="card-body">
                                <h4 class="card-title mb-3" style="font-family: 'Poppins';">Administrator</h4>
                                <img style="height: 200px; width: 100%;"
                                    src="{% static 'img/remote-work-man-new.svg' %}" alt="" class="my-3">
                                <form action="{% url 'user:registerAdmin' %}">
                                    <button type="submit" class="btn btn-outline-primary">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card dokter">
                            <div class="card-body">
                                <h4 class="card-title mb-3" style="font-family: 'Poppins';">Dokter</h4>
                                <img style="height: 200px; width: 100%;" src="{% static 'img/doctor-woman-new.svg' %}"
                                    alt="" class="my-3">
                                <form action="{% url 'user:registerDokter' %}">
                                    <button type="submit" class="btn btn-outline-primary">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card pasien">
                            <div class="card-body">
                                <h4 class="card-title mb-3" style="font-family: 'Poppins';">Pasien</h4>
                                <img style="height: 200px; width: 100%;" src="{% static 'img/mask-man-new.svg' %}"
                                    alt="" class="my-3">
                                <form action="{% url 'user:registerPasien' %}">
                                    <button type="submit" class="btn btn-outline-primary">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', "{% static 'js/particles.json' %}", function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
</body>

</html>