<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medikago</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1>This is the user dashboard</h1>
    <ul>
        <li><a href="">Profil</a></li>
        <li><a href="">Daftar Sesi Konsultasi</a></li>
        <li><a href="">Daftar tindakan Poliklinik</a></li>
        <li><a href="">Daftar Tindakan</a></li>
        <li><a href="">Daftar Resep</a></li>
        <li><a href="">Daftar Obat</a></li>
        <li><a href="">RS Cabang</a>
            <ul>
                <li><a href="">Daftar RS Cabang</a></li>
                <li><a href="">Daftar Dokter RS Cabang</a></li>
            </ul>
        </li>
        <li><a href="">Daftar Layanan</a></li>
        <li><a href="">Daftar Transaksi</a></li>
        <li><a href="{% url 'user:logout' %}">Logout</a></li>
    </ul>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>