body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.navbar{
    height: 80px;
    padding: 0 1rem;
}

.navbar-brand{
    font-weight: bold;
    font-family: 'Poppins';
}

.content {
    height: 100vh;
}

.header {
    font-family: 'Poppins';
    font-size: 36px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.cta-but {
    width: 100%;
}

.heading2 {
    width: 100%;
}

.back {     
    height: 75vh;
}

#particles-js{
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

@media screen and (max-width: 480px) {
        .nomobile {
            display:none;
        }

        .back {
            height: 50vh;
        }
}