body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    height: 100vh;
    background-color: #efefef;
}

.header {
    font-family: 'Poppins';
}

#particles-js{
    z-index: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #efefef;
}


.card{
    max-width: 250px;
    opacity: 0.7;
    transition: ease 0.3s;
}

.card:hover{
    opacity: 1;
}