<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedikaGo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
</head>

<body class="row d-flex justify-content-center align-items-center">
    <div id="particles-js">
    </div>
    <form action="{% url 'pages:home' %}">
        <button type="submit" class="btn btn-outline-primary"
            style="position: absolute; top: 20px; left: 20px;">Kembali</button>
    </form>
    <div class="row d-flex justify-content-center align-items center">
        <div class="jumbotron login row text-center" style="z-index: 1; position: relative;">
            <a style="position: absolute; top: 30px; right: 30px; z-index: 3; white-space: nowrap;"
                data-toggle="tooltip" data-placement="bottom" title=""
                data-original-title="username : password =  bbodiam0 : NJ5FbsYoxt4">?</a>
            <div class="col-12">
                <h1 class="mb-3 header"><strong>Login</strong></h1>
                <form action="{% url 'user:login' %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-column">
                        <div class="form-group text-left">
                            <label for="inputEmail">Username</label>
                            <input type="text" class="form-control" id="inputEmail" name="username"
                                value="{{ username }}">
                        </div>
                        <div class="form-group text-left">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" name="password" id="inputPassword">
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col d-flex flex-column">
                            <a class="text-right mt-4"
                                style="text-decoration: none; font-size: 14px; white-space: nowrap; color: #78c2ad;"
                                data-toggle="popover" data-placement="top" title=""
                                data-original-title="username : password =  bbodiam0 : NJ5FbsYoxt4">Lupa
                                Password?</a>
                            <button type="submit" style="width: 8rem;"
                                class="btn btn-primary mt-2 align-self-end">login</button>
                        </div>
                    </div>
                    <p class="mt-4">Belum punya akun? Klik <a style="text-decoration: none;"
                            href="{% url 'user:roles' %}">Disini</a>
                        untuk
                        Register</p>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', "{% static 'js/particles.json' %}", function () {
            console.log('callback - particles.js config loaded');
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('[data-toggle="popover"]').popover()
        })
    </script>
</body>

</html>