<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedikaGo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
</head>

<body class="row d-flex justify-content-center align-items-center">
    <div id="particles-js">
    </div>
    <form action="{% url 'user:roles' %}">
        <button type="submit" class="btn btn-outline-primary"
            style="position: absolute; top: 20px; left: 20px;">Kembali</button>
    </form>
    <div class="jumbotron register row" style="z-index: 1;">
        <div class="container col-12 d-flex justify-content-center d-flex flex-direction-collumn">
            <div class="">
                <h1 class="mb-5 header">Register Sebagai Administrator</h1>
                <form action="{% url 'user:registerAdmin' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" required name="username">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" required placeholder="password"
                            name="password">
                    </div>
                    <div class="form-group">
                        <label for="inputID">Nomor Indentitas</label>
                        <input type="number" class="form-control" id="inputID" required name="id">
                    </div>
                    <div class="form-group">
                        <label for="inputNama">Nama Lengkap</label>
                        <input type="text" class="form-control" id="inputNama" required name="nama">
                    </div>
                    <div class="form-group">
                        <label for="inputTanggalLahir">Tanggal Lahir</label>
                        <input type="date" class="form-control" id="inputTanggal" required name="tanggal_lahir">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Email</label>
                        <input type="email" class="form-control" id="inputEmail" required name="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">alamat</label>
                        <input type="text" class="form-control" id="inputDate" required name="alamat">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', "{% static 'js/particles.json' %}", function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
</body>

</html>