{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='poliklinik' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block custom_styles %}
<style>
    [data-role="dynamic-fields"]>.form-inline+.form-inline {
        margin-top: 0.5em;
    }

    [data-role="dynamic-fields"]>.form-inline [data-role="add"] {
        display: none;
    }

    [data-role="dynamic-fields"]>.form-inline:last-child [data-role="add"] {
        display: inline-block;
    }

    [data-role="dynamic-fields"]>.form-inline:last-child [data-role="remove"] {
        display: none;
    }
</style>
{% endblock custom_styles %}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatLayananJadwalPoliklinik' %}">Layanan Jadwal Poliklinik</a></li>
        <li class="breadcrumb-item active">Buat Layanan dan Jadwal Poliklinik</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Buat Layanan dan Jadwal Poliklinik</h2>
         <form action="{% url 'pages:buatLayananJadwalPoliklinik' %}" method = "POST">
            {% csrf_token %}
            <div class="form-group">

                    <label for="InputNamaLayanan">Nama Layanan</label>
                    <input name = "nama" type="text" class="form-control" id="InputNamaLayanan">

                    <label for="InputDeskripsi">Deskripsi</label>
                    <input name = "deskripsi" type="text" class="form-control" id="InputDeskripsi">

                <div class="form-group">
                    <label for="inputKodeRsCabang">Kode RS</label>
                    <select name = "kode_rs_cabang" class="form-control" id="inputKodeRsCabang">
                        {% for k in kode_rs_cabang %}
                        <option>{{ k.kode_rs_cabang }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label for="exampleInputEmail1">Daftar Jadwal</label>
                <div data-role="dynamic-fields">
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="field-value">Hari</label>
                            <input type="text" class="form-control" id="field-value" style="width: 7rem;"
                                placeholder="Hari">
                        </div>
                        <span>-</span>
                        <div class="form-group">
                            <label class="sr-only" for="field-value">Jam</label>
                            <input type="time" class="form-control" id="field-value" placeholder="Field Value"
                                style="width: 8rem;">
                        </div>
                        <div class="form-group ml-1">
                            <label class="sr-only" for="field-value">Kapasitas</label>
                            <input type="text" class="form-control" id="field-value" placeholder="Kapasitas"
                                style="width: 7rem;">
                        </div>
                        <button class="btn btn-danger ml-2" data-role="remove">
                            <span class="glyphicon glyphicon-remove">-</span>
                        </button>
                        <button class="btn btn-primary ml-2" data-role="add">
                            <span class="glyphicon glyphicon-plus">+</span>
                        </button>
                    </div> <!-- /div.form-inline -->
                </div>
            </div>
            <p class="lead mt-5">
                <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
            </p>

        </form>
    </div>
</div>

{% endblock content %}
{% block custom_scripts %}
<script>
    $(function () {
        // Remove button click
        $(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-inline [data-role="remove"]',
            function (e) {
                e.preventDefault();
                $(this).closest('.form-inline').remove();
            }
        );
        // Add button click
        $(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-inline [data-role="add"]',
            function (e) {
                e.preventDefault();
                var container = $(this).closest('[data-role="dynamic-fields"]');
                new_field_group = container.children().filter('.form-inline:first-child').clone();
                new_field_group.find('input').each(function () {
                    $(this).val('');
                });
                container.append(new_field_group);
            }
        );
    });
</script>
{% endblock custom_scripts %}