{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='poliklinik' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:daftarLayananJadwalPoliklinik' %}">Poliklinik</a></li>
        <li class="breadcrumb-item active">Daftar Layanan Jadwal Poliklinik</li>
    </ol>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID Layanan Poliklinik</th>
                <th scope="col">Nama</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Kode RS Cabang</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for lp in layanan_poliklinik %}
            <tr>
                    <td>{{ lp.id_poliklinik }}</td>
                    <td>{{ lp.nama }}</td>
                    <td>{{ lp.deskripsi }}</td>
                    <td>{{ lp.kode_rs_cabang }}</td>

                    {% if request.session.user.role == "admin" %}
                    <td class="d-flex">
                        <a class="btn btn-primary" href="{% url 'pages:updateLayananJadwalPoliklinik' lp.id_poliklinik %}">Update</a>
                        <form action="{% url 'pages:deleteLayananJadwalPoliklinik' lp.id_poliklinik  %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="color: #fff;">Delete</button>
                        </form>
                    </td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID Jadwal Poliklinik</th>
                <th scope="col">Hari</th>
                <th scope="col">Waktu Mulai</th>
                <th scope="col">Waktu Selesai</th>
                <th scope="col">Kapasitas</th>
                <th scope="col">ID Dokter</th>
                <th scope="col">ID Poliklinik</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for jlp in jadwal_layanan_poliklinik %}
            <tr>
                <form>
                    <td>{{ jlp.id_jadwal_poliklinik }}</td>
                    <td>{{ jlp.hari }}</td>
                    <td>{{ jlp.waktu_mulai }}</td>
                    <td>{{ jlp.waktu_selesai }}</td>
                    <td>{{ jlp.kapasitas }}</td>
                    <td>{{ jlp.id_dokter }}</td>
                    <td>{{ jlp.id_poliklinik }}</td>
                    <td>
                        <a class="btn btn-primary" data-toggle="modal" href="#update-modal">Update</a>
                        <form action="{% url 'pages:deleteLayananJadwalPoliklinik' jlp.id_jadwal_poliklinik%}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="color: #fff;">Delete</button>
                        </form>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- update Layanan Poliklinik -->
    <div class="modal fade" id="update-layanan" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form Update Layanan Poliklinik</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="hide" id="success">
                        <div class="container d-flex justify-content-center align-items-center">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_3w07tT.json"
                                background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                    </div>
                    <form id="modal-form" class="">
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">ID Layanan Poliklinik</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Tanggal</label>
                            <input type="text" class="form-control" value="Rontgen Organ Dalam" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Deskripsi</label>
                            <input type="text" class="form-control" value="Untuk Melihat Isi Tubuhmu" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">RS Cabang Penyedia Layanan</label>
                                <select class="form-control" id="exampleSelect1">
                                    <option>RSPI</option>
                                    <option>RSQ</option>
                                </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" onclick="update()">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- update Jadwal Poliklinik -->
    <div class="modal fade" id="update-jadwal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form Update Jadwal Layanan Poliklinik</h5> 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="hide" id="success">
                        <div class="container d-flex justify-content-center align-items-center">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_3w07tT.json"
                                background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                    </div>
                    <form id="modal-form" class="">
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">ID Jadwal Layanan Poliklinik</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Hari</label>
                            <input type="text" class="form-control" value="Senin" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Waktu Mulai</label>
                            <input type="text" class="form-control" value="07.00" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Waktu Selesai</label>
                            <input type="text" class="form-control" value="17.00" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Kapasitas</label>
                            <input type="text" class="form-control" value="5" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">ID Dokter</label>
                                <select class="form-control" id="exampleSelect1">
                                    <option>XYZ</option>
                                    <option>RT</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">ID Poliklinik</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" onclick="update()">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
{% block custom_scripts %}
<script>
    function update() {
        console.log("update Succes")
        $('#modal-form').toggleClass('hide');
        $('#success').toggleClass('hide');
        setTimeout(function () {
            $('#modal-form').toggleClass('hide');
            $('#success').toggleClass('hide');
        }, 3000);
    }
</script>
{% endblock custom_scripts %}