{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='poliklinik' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatLayananJadwalPoliklinik' %}">Layanan Jadwal Poliklinik</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:daftarLayananJadwalPoliklinik' %}">Daftar Layanan Jadwal Poliklinik</a></li>
        <li class="breadcrumb-item active">Update Layanan Jadwal Poliklinik</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Update Layanan Jadwal Poliklinik</h2>
        <form action="{% url 'pages:updateLayananJadwalPoliklinik' id_poliklinik %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputKodeRs">ID Poliklinik</label>
                <input type="text" class="form-control" id="inputIdPoliklinik" name="id_poliklinik" readonly
                       value="{{ id_poliklinik }}">
            </div>
            <div class="form-group">
                <label for="inputNamaLayanan">Nama Layanan</label>
                <input type="text" class="form-control" id="inputNamaLayanan" name="nama" value="{{ nama }}">
            </div>
            <div class="form-group">
                <label for="inputDeskripsi">Deskripsi</label>
                <input type="text" class="form-control" id="inputDeskripsi" name="deskripsi"  value="{{ deskripsi }}">
            </div>
            <div class="form-group">
                <label for="inputKodeRsCabang">RS Cabang Penyedia Layanan</label>
                <input type="text" class="form-control" id="inputKodeRsCabangPenyedia" name="kode_rs_cabang"
                       value="{{ kode_rs_cabang }}">
            </div>
            <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}