{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='tindakan' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}

<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatTindakanPoliklinik' %}">Tindakan</a></li>
        <li class="breadcrumb-item active">Buat Tindakan Poliklinik</li>
    </ol>
    <div class="jumbotron">
        <h2 class="">Form Pembuatan Tindakan Poliklinik</h2>
        <form action = "{% url 'pages:buatTindakanPoliklinik' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group">
                    <label for="InputIdPoliklinik">ID Poliklinik</label>
                    <select class="form-control" id="inputIdPoliklinik" name = "id_poliklinik" required>
                        {% for p in id_poliklinik %}
                        <option>{{ p.id_poliklinik }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="inputNamaTindakan">Nama Tindakan</label>
                <input name = "nama_tindakan" type="text" class="form-control" id="inputNamaTindakan" required>

                <label for="inputDeskripsi">Deskripsi</label>
                <input type="text" class="form-control" id="inputDeskripsi" name = "deskripsi" required>

                <label for="inputTarif">Tarif</label>
                <input type="text" class="form-control" id="inputTarif" name ="tarif" required>

            </div>
            <p class="lead mt-5">
                <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
            </p>
        </form>
    </div>
</div>
{% endblock content %}