{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='tindakan' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block custom_styles %}
<style>
    [data-role="dynamic-fields"]>.form-inline+.form-inline {
        margin-top: 0.5em;
    }

    [data-role="dynamic-fields"]>.form-inline [data-role="add"] {
        display: none;
    }

    [data-role="dynamic-fields"]>.form-inline:last-child [data-role="add"] {
        display: inline-block;
    }

    [data-role="dynamic-fields"]>.form-inline:last-child [data-role="remove"] {
        display: none;
    }
</style>
{% endblock custom_styles %}

{% block content %}

<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatTindakan' %}">Tindakan</a></li>
        <li class="breadcrumb-item active">Buat Tindakan</li>
    </ol>
    <div class="jumbotron">
        <h2 class="">Form Pembuatan Tindakan</h2>
        <form action="{% url 'pages:buatTindakan' %}" method = "POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group">
                    <label for="inputIdKonsultasi">ID Konsultasi</label>
                    <select name="id_konsultasi" class="form-control" id="inputIdKonsultasi" required>
                        {% for k in id_konsultasi %}
                        <option>{{ k.id_konsultasi }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputIdTransaksi">ID Transaksi</label>
                    <select name="id_transaksi" class="form-control" id="inputIdTransaksi" required>
                        {% for t in id_transaksi %}
                        <option>{{ t.id_transaksi }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="inputCatatan">Catatan</label>
                <input name = "catatan" type="text" class="form-control" id="inputCatatan" required>
                <label for="inputIdTindakanPoli">Daftar ID Tindakan Poliklinik</label>
                <div data-role="dynamic-fields">
                    <div class="form-inline">
                        <div class="form-group">
                            <select name ="id_tindakan_poli" class="form-control" id="inputIdTindakanPoli" required>
                                {% for tp in id_tindakan_poli %}
                                <option>{{ tp.id_tindakan_poli }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-danger ml-2" data-role="remove">
                            <span class="glyphicon glyphicon-remove">-</span>
                        </button>
                        <button class="btn btn-primary ml-2" data-role="add">
                            <span class="glyphicon glyphicon-plus">+</span>
                        </button>
                    </div> <!-- /div.form-inline -->
                </div>
            </div>
            <p class="lead mt-5">
                <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
            </p>
        </form>
    </div>
</div>
{% endblock content %}
{% block custom_scripts %}
<script>
    $(function () {
        // Remove button click
        $(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-inline [data-role="remove"]',
            function (e) {
                e.preventDefault();
                $(this).closest('.form-inline').remove();
            }
        );
        // Add button click
        $(document).on(
            'click',
            '[data-role="dynamic-fields"] > .form-inline [data-role="add"]',
            function (e) {
                e.preventDefault();
                var container = $(this).closest('[data-role="dynamic-fields"]');
                new_field_group = container.children().filter('.form-inline:first-child').clone();
                new_field_group.find('input').each(function () {
                    $(this).val('');
                });
                container.append(new_field_group);
            }
        );
    });
</script>
{% endblock custom_scripts %}