{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='tindakan' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}

<div class="d-flex justify-content-center flex-column">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatTindakanPoliklinik' %}">Tindakan Poliklinik</a></li>
        <li class="breadcrumb-item active">Daftar Tindakan Poliklinik</li>
    </ol>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID Tindakan Poliklinik</th>
            <th scope="col">ID Poliklinik</th>
            <th scope="col">Nama Tindakan</th>
            <th scope="col">Tarif</th>
            <th scope="col">Deskripsi</th>
            {% if request.session.user.role == "admin" %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for tp in tindakan_poli %}
        <tr>
            <th scope="row">{{ tp.id_tindakan_poli }}</th>
            <td>{{ tp.id_poliklinik }}</td>
            <td>{{ tp.nama_tindakan }}</td>
            <td>{{tp.tarif}}</td>
            <td>{{tp.deskripsi}}</td>
            {% if request.session.user.role == "admin" %}
            <td class="d-flex">
                <a class="btn btn-primary" href="{% url 'pages:updateTindakanPoliklinik' tp.id_tindakan_poli %}">Update</a>
                <form action ="{% url 'pages:deleteTindakanPoliklinik' tp.id_tindakan_poli %}" method = "POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" style="color: #fff;">Delete</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- update Modal -->
    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form Update Tindakan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="hide" id="success">
                        <div class="container d-flex justify-content-center align-items-center">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_3w07tT.json"
                                           background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                    </div>
                    <form id="modal-form" class="">
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">ID Tindakan Poliklinik</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">ID Poliklinik</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">Nama Tindakan</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Observasi" disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">Tarif</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Rp 0"
                                       disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Deskripsi</label>
                            <input type="text" class="form-control" value="Melakukan Observasi" placeholder="Default input"
                                   id="inputDefault">
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" onclick="update()">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block custom_scripts %}
<script>
    function update() {
        console.log("update Succes")
        $('#modal-form').toggleClass('hide');
        $('#success').toggleClass('hide');
        setTimeout(function () {
            $('#modal-form').toggleClass('hide');
            $('#success').toggleClass('hide');
        }, 3000);
    }
</script>
{% endblock custom_scripts %}