{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='tindakan' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}

<div class="d-flex justify-content-center flex-column">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatTindakan' %}">Tindakan Poliklinik</a></li>
        <li class="breadcrumb-item active">Daftar Tindakan</li>
    </ol>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID Konsultasi</th>
            <th scope="col">Nomor Urut</th>
            <th scope="col">Biaya</th>
            <th scope="col">Catatan</th>
            <th scope="col">ID Transaksi</th>
            {% if request.session.user.role == "admin" %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for t in tindakan %}
            <tr>
                    <th scope="row">{{ t.id_konsultasi }}</th>
                    <td>{{ t.no_urut }}</td>
                    <td>{{ t.biaya }}</td>
                    <td>{{ t.catatan }}</td>
                    <td>{{ t.id_transaksi }}</td>
                {% if request.session.user.role == "admin" %}

                <td class="d-flex">
                    <a class="btn btn-primary" href="{% url 'pages:updateTindakan' t.no_urut t.id_konsultasi %}">Update</a>
                        <form action ="{% url 'pages:deleteTindakan' t.no_urut t.id_konsultasi %}" method = "POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="color: #fff;">Delete</button>
                </form>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- update Modal -->
    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form Update Tindakan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="hide" id="success">
                        <div class="container d-flex justify-content-center align-items-center">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_3w07tT.json"
                                           background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                    </div>
                    <form id="modal-form" class="">
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">ID Konsultasi</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">Nomer Urut</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">Biaya</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Rp 0"
                                       disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Catatan</label>
                            <input type="text" class="form-control" value="Selesai" placeholder="Default input"
                                   id="inputDefault">
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">ID Transaksi</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" onclick="update()">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block custom_scripts %}
<script>
    function update() {
        console.log("update Succes")
        $('#modal-form').toggleClass('hide');
        $('#success').toggleClass('hide');
        setTimeout(function () {
            $('#modal-form').toggleClass('hide');
            $('#success').toggleClass('hide');
        }, 3000);
    }
</script>
{% endblock custom_scripts %}