{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='konsultasi' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatTindakan' %}">Tindakan</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:daftarTindakan' %}">Daftar Tindakan</a></li>
        <li class="breadcrumb-item active">Update Tindakan</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Update Tindakan</h2>
        <form action="{% url 'pages:updateTindakan' no_urut id_konsultasi %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputKodeRs">ID Konsultasi</label>
                <input type="text" class="form-control" id="inputKodeRs" name="id_konsultasi" readonly
                       value="{{ id_konsultasi }}">
            </div>
            <div class="form-group">
                <label for="inputNama">No Urut</label>
                <input type="text" class="form-control" id="inputNama" name="no_urut" readonly
                       value="{{ no_urut }}">
            </div>
            <div class="form-group">
                <label for="inputTanggal">Biaya</label>
                <input type="number" class="form-control" id="inputTanggal" name="biaya" readonly value="{{ biaya }}" >
            </div>
            <div class="form-group">
                <label for="inputJalan">Catatan</label>
                <input type="text" class="form-control" id="inputJalan" name="catatan"  value="{{ catatan }}">
            </div>
            <div class="form-group">
                <label for="inputNomor">ID Transaksi</label>
                <input type="text" class="form-control" id="inputNomor" name="id_transaksi" readonly value="{{ id_transaksi }}">
            </div>
            <div class="form-group">
                <label for="inputKota">Daftar ID Tindakan Poli</label>
                <input type="text" class="form-control" id="inputKota" name="id_tindakan_poli" readonly
                       value="{{ id_tindakan_poli }}">
            </div>
            <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}