{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='konsultasi' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatTindakanPoliklinik' %}">Tindakan Poliklinik</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:daftarTindakanPoliklinik' %}">Daftar Tindakan Poliklinik</a></li>
        <li class="breadcrumb-item active">Update Tindakan</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Update Tindakan Poliklinnik</h2>
        <form action="{% url 'pages:updateTindakanPoliklinik' id_tindakan_poli %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputKodeRs">ID Tindakan Poliklinik</label>
                <input type="text" class="form-control" id="inputKodeRs" name="id_tindakan_poli" readonly
                       value="{{ id_tindakan_poli }}">
            </div>
            <div class="form-group">
                <label for="inputNama">ID Poliklinik</label>
                <input type="text" class="form-control" id="inputNama" name="id_poliklinik" readonly
                       value="{{ id_poliklinik }}">
            </div>
            <div class="form-group">
                <label for="inputTanggal">Nama Tindakan</label>
                <input type="text" class="form-control" id="inputTanggal" name="nama_tindakan" value="{{ nama_tindakan }}" >
            </div>
            <div class="form-group">
                <label for="inputJalan">Deskripsi</label>
                <input type="text" class="form-control" id="inputJalan" name="deskripsi"  value="{{ deskripsi }}">
            </div>
            <div class="form-group">
                <label for="inputNomor">Tarif</label>
                <input type="number" class="form-control" id="inputNomor" name="tarif"  value="{{ tarif }}">
            </div>

            <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}