{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='konsultasi' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}

<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatKonsultasi' %}">Sesi Konsultasi</a></li>
        <li class="breadcrumb-item active">Buat Sesi</li>
    </ol>
    <div class="jumbotron">
        <h2 class="">Form Reservasi Sesi Konsultasi</h2>
        <form action="{% url 'pages:buatKonsultasi' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group">
                    <label for="selectPasien">Nomer Rekam Medis Pasien</label>
                    <select class="form-control" id="selectPasien" name="nomor_rekam_medis_pasien" required>
                        {% for nr in nomor_rekam_medis %}
                        <option>{{ nr.no_rekam_medis }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectTransaksi">ID Transaksi</label>
                    <select class="form-control" id="selectIdTransaksi" name="id_transaksi" required>
                        {% for id in id_transaksi %}
                        <option>{{ id.id_transaksi }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label for="inputDate">Tanggal</label>
                <input type="date" class="form-control" id="inputDate" name="tanggal" required>
            </div>
            <p class="lead mt-5">
                <button class="btn btn-primary btn-lg" href="#" role="button" type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>
{% endblock content %}