{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='konsultasi' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatKonsultasi' %}">Sesi Konsultasi</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:daftarKonsultasi' %}">Daftar Konsultasi</a></li>
        <li class="breadcrumb-item active">Update Sesi</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Update Sesi Konsultasi</h2>
        <form action="{% url 'pages:updateKonsultasi' id_konsultasi %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputKodeRs">ID Konsultasi</label>
                <input type="text" class="form-control" id="inputKodeRs" name="kode_rs" readonly
                    value="{{ id_konsultasi }}">
            </div>
            <div class="form-group">
                <label for="inputNama">Nomor Rekam Medis Pasien</label>
                <input type="text" class="form-control" id="inputNama" name="nomor_rekam_medis" readonly
                    value="{{ no_rekam_medis_pasien }}">
            </div>
            <div class="form-group">
                <label for="inputTanggal">Tanggal</label>
                <input type="date" class="form-control" id="inputTanggal" name="tanggal" value="{{ tanggal }}">
            </div>
            <div class="form-group">
                <label for="inputJalan">Biaya</label>
                <input type="number" class="form-control" id="inputJalan" name="jalan" readonly value="{{ biaya }}">
            </div>
            <div class="form-group">
                <label for="inputNomor">Status</label>
                <input type="text" class="form-control" id="inputNomor" name="status" value="{{ status }}">
            </div>
            <div class="form-group">
                <label for="inputKota">ID Transaksi</label>
                <input type="text" class="form-control" id="inputKota" name="id_transaksi" readonly
                    value="{{ id_transaksi }}">
            </div>
            <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}