{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='RS' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatRsCabang' %}">RS Cabang</a></li>
        <li class="breadcrumb-item active">Daftarkan Dokter RS Cabang</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Daftarkan Dokter RS Cabang</h2>
        <form action="{% url 'pages:daftarDokterRSCabang' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group">
                    <label for="inputIdDokter">ID Dokter</label>
                    <select name="id_dokter" class="form-control" id="inputIdDokter">
                        {% for k in id_dokter %}
                        <option>{{ k.id_dokter }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputKodeRs">Kode RS</label>
                    <select name="kode_rs" class="form-control" id="inputKodeRs">
                        {% for t in kode_rs %}
                        <option>{{ t.kode_rs }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <p class="lead mt-5">
                <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
            </p>
        </form>
    </div>
</div>

{% endblock content %}