{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='transaksi' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}

<div class="d-flex justify-content-center flex-column">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatRsCabang' %}">RS Cabang</a></li>
        <li class="breadcrumb-item active">Daftar RS</li>
    </ol>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Kode RS</th>
                <th scope="col">Nama</th>
                <th scope="col">Tanggal Pendirian</th>
                <th scope="col">Jalan</th>
                <th scope="col">Kota</th>
                <th scope="col">Nomor</th>
                {% if request.session.user.role == "admin" %}
                <th scope="col">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for rs in rs_cabang %}
            <tr>
                <th scope="row">{{ rs.kode_rs }}</th>
                <td>{{ rs.nama }}</td>
                <td>{{ rs.tanggal_pendirian }}</td>
                <td>{{ rs.jalan }}</td>
                <td>{{ rs.kota }}</td>
                <td>{{ rs.nomor }}</td>
                {% if request.session.user.role == "admin" %}
                <td class="d-flex">
                    <a class="btn btn-primary" href="{% url 'pages:updateRsCabang' rs.kode_rs %}">Update</a>
                    <form action="{% url 'pages:deleteRsCabang' rs.kode_rs %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" style="color: #fff;">Delete</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- update Modal -->
    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form Update RS Cabang</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="hide" id="success">
                        <div class="container d-flex justify-content-center align-items-center">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_3w07tT.json"
                                background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                    </div>
                    <form id="modal-form" class="">
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">Kode RS</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1.0"
                                    disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Nama</label>
                            <input type="text" class="form-control" value="RS Tangerang" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Tanggal Pendirian</label>
                            <input type="text" class="form-control" value="1991-01-17" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Jalan</label>
                            <input type="text" class="form-control" value="Jl. Lakeland Court"
                                placeholder="Default input" id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Kota</label>
                            <input type="text" class="form-control" value="Tangerang" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Nomor</label>
                            <input type="text" class="form-control" value="10" placeholder="Default input"
                                id="inputDefault">
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" onclick="update()">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block custom_scripts %}
<script>
    function update() {
        console.log("update Succes")
        $('#modal-form').toggleClass('hide');
        $('#success').toggleClass('hide');
        setTimeout(function () {
            $('#modal-form').toggleClass('hide');
            $('#success').toggleClass('hide');
        }, 3000);
    }
</script>
{% endblock custom_scripts %}