{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='RS' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}

<div class="d-flex justify-content-center flex-column">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatRsCabang' %}">RS Cabang</a></li>
        <li class="breadcrumb-item active">Daftar Dokter RS Cabang</li>
    </ol>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Kode RS Cabang</th>
                <th scope="col">ID Dokter</th>
                {% if request.session.user.role == "admin" %}
                <th scope="col">Action</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
            {% for drs in dokter_rs_cabang %}
            <tr>
                
                    <td>{{ drs.kode_rs }}</td>
                    <td>{{ drs.id_dokter }}</td>
                    {% if request.session.user.role == "admin" %}

                    <td class="d-flex">
                        <a class="btn btn-primary" href="{% url 'pages:updateDokterRSCabang' drs.id_dokter drs.kode_rs %}">Update</a>
                            <form action ="{% url 'pages:deleteDokterRSCabang' drs.id_dokter drs.kode_rs %}" method = "POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="color: #fff;">Delete</button>
                            </form>
                    </td>
                    {% endif %}

            </tr>
            {% endfor %}

        </tbody>
    </table>

    <!-- update Modal -->
    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form Update Dokter-RS Cabang</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="hide" id="success">
                        <div class="container d-flex justify-content-center align-items-center">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_3w07tT.json"
                                background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                    </div>
                    <form id="modal-form" class="">
                        <div class="form-group">
                            <label for="exampleSelect1">ID Dokter</label>
                            <select class="form-control" id="exampleSelect1">
                                <option>1.0</option>
                            </select>
                        <div class="form-group">
                            <label for="exampleSelect1">Kode RS Cabang</label>
                            <select class="form-control" id="exampleSelect1">
                                <option>1.0</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" onclick="update()">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block custom_scripts %}
<script>
    function update() {
        console.log("update Succes")
        $('#modal-form').toggleClass('hide');
        $('#success').toggleClass('hide');
        setTimeout(function () {
            $('#modal-form').toggleClass('hide');
            $('#success').toggleClass('hide');
        }, 3000);
    }
</script>
{% endblock custom_scripts %}