{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='RS' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatRsCabang' %}">RS Cabang</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:listDokterRSCabang' %}">Daftar Dokter RS Cabang</a></li>
        <li class="breadcrumb-item active">Update Dokter RS Cabang</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Update Dokter RS Cabang</h2>
        <form action="{% url 'pages:updateDokterRSCabang' id_dokter kode_rs %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputIdDokter">ID Dokter</label>
                <input type="text" class="form-control" id="inputIdDokter" name="id_dokter"
                       value="{{ id_dokter }}">
            </div>
            <div class="form-group">
                <label for="inputKodeRs">Kode RS</label>
                <input type="text" class="form-control" id="inputKodeRs" name="kode_rs"
                       value="{{ kode_rs }}">
            </div>
            <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}
