{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='RS' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatRsCabang' %}">RS Cabang</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:daftarRsCabang' %}">Daftar RS Cabang</a></li>
        <li class="breadcrumb-item active">Update RS</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Update RS Cabang</h2>
        <form action="{% url 'pages:updateRsCabang' kode_rs %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputKodeRs">Kode RS Cabang</label>
                <input type="text" class="form-control" id="inputKodeRs" name="kode_rs" readonly value="{{ kode_rs }}">
            </div>
            <div class="form-group">
                <label for="inputNama">Nama</label>
                <input type="text" class="form-control" id="inputNama" name="nama" value="{{ nama }}">
            </div>
            <div class="form-group">
                <label for="inputTanggal">Tanggal Pendirian</label>
                <input type="date" class="form-control" id="inputTanggal" name="tanggal"
                    value="{{ tanggal_pendirian }}">
            </div>
            <div class="form-group">
                <label for="inputJalan">Jalan</label>
                <input type="text" class="form-control" id="inputJalan" name="jalan" value="{{ jalan }}">
            </div>
            <div class="form-group">
                <label for="inputNomor">Nomor</label>
                <input type="number" class="form-control" id="inputNomor" name="nomor" value="{{ nomor }}">
            </div>
            <div class="form-group">
                <label for="inputKota">Kota</label>
                <input type="text" class="form-control" id="inputKota" name="kota" value="{{ kota }}">
            </div>
            <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}