<nav id="sidebar">
    <div class="sidebar-header">
        <h3>MEDIKAGO</h3>
    </div>


    <ul class="list-unstyled components">

        {% if request.session.user.role == "admin" %}
        <p>ADMIN DASHBOARD</p>
        {% else %}
        <p>USER DASHBOARD</p>
        {% endif %}

        <li class="{% if current_nav == 'profil' %} active {% endif %}"><a href="{% url 'pages:profil' %}">Profil</a>
        </li>

        <li class="{% if current_nav == 'konsultasi' %} active {% endif %}"><a href="#konsultasiSubmenu"
                data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sesi Konsultasi</a>
            <ul class="collapse list-unstyled" id="konsultasiSubmenu">
                {% if request.session.user.role == "admin" %}
                <li><a href="{% url 'pages:buatKonsultasi' %}">Buat Sesi Konsultasi</a></li>
                {% endif %}
                <li><a href="{% url 'pages:daftarKonsultasi' %}">Daftar Sesi Konsultasi</a></li>
            </ul>
        </li>
        <li class="{% if current_nav == 'poliklinik' %} active {% endif %}"><a href="#layananSubmenu"
                data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Poliklinik</a>
            <ul class="collapse list-unstyled" id="layananSubmenu">
                <li><a href="{% url 'pages:buatLayananJadwalPoliklinik' %}">Buat Layanan dan Jadwal Poliklinik</a></li>
                {% if request.session.user.role == "admin" %}
                <li><a href="{% url 'pages:daftarLayananJadwalPoliklinik' %}">Daftar Layanan dan Jadwal Poliklinik</a>
                </li>
                {% endif %}
            </ul>
        </li>
        <li class="{% if current_nav == 'RS' %} active {% endif %}"><a href="#RSSubmenu" data-toggle="collapse"
                aria-expanded="false" class="dropdown-toggle">RS
                Cabang</a>
            <ul class="collapse list-unstyled" id="RSSubmenu">
                {% if request.session.user.role == "admin" %}
                <li><a href="{% url 'pages:buatRsCabang' %}">Buat RS Cabang</a></li>
                {% endif %}
                <li><a href="{% url 'pages:daftarRsCabang' %}">Daftar RS Cabang</a></li>
                <li><a href="{% url 'pages:listDokterRSCabang' %}">List Dokter RS Cabang</a></li>
                {% if request.session.user.role == "admin" %}
                <li><a href="{% url 'pages:daftarDokterRSCabang' %}">Daftarkan Dokter RS Cabang</a></li>
                <li><a class="list-group-item-action disabled" style="color: #888888;">Daftarkan Administrator</a></li>
                {% endif %}
            </ul>
        </li>
        <li class="{% if current_nav == 'tindakan' %} active {% endif %}"><a href="#tindakanSubmenu"
                data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tindakan</a>
            <ul class="collapse list-unstyled" id="tindakanSubmenu">
                {% if request.session.user.role == "admin" %}
                <li><a href="{% url 'pages:buatTindakan' %}">Buat Tindakan</a></li>
                {% endif %}
                <li><a href="{% url 'pages:daftarTindakan' %}">Daftar Tindakan</a></li>
                {% if request.session.user.role == "admin" %}
                <li><a href="{% url 'pages:buatTindakanPoliklinik' %}">Buat Tindakan Poliklinik</a></li>
                {% endif %}
                <li><a href="{% url 'pages:daftarTindakanPoliklinik' %}">Daftar Tindakan Poliklinik</a></li>
            </ul>
        </li>
        <li class="{% if current_nav == 'resep' %} active {% endif %}"><a href="#resepSubmenu" data-toggle="collapse"
                aria-expanded="false" class="dropdown-toggle">Resep
                dan Obat</a>
            <ul class="collapse list-unstyled" id="resepSubmenu">
                {% if request.session.user.role == "admin" %}
                <li><a class="list-group-item-action disabled" style="color: #888888;">Buat Resep</a></li>
                {% endif %}
                <li><a class="list-group-item-action disabled" style="color: #888888;">Daftar Resep</a></li>
                {% if request.session.user.role == "admin" %}
                <li><a class="list-group-item-action disabled" style="color: #888888;">Buat Obat</a></li>
                {% endif %}
                <li><a class="list-group-item-action disabled" style="color: #888888;">Daftar Obat</a></li>
            </ul>
        </li>
        <li class="{% if current_nav == 'transaksi' %} active {% endif %}"><a href="#transaksiSubmenu"
                data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transaksi</a>
            <ul class="collapse list-unstyled" id="transaksiSubmenu">
                {% if request.session.user.role == "admin" %}
                <li><a href="{% url 'pages:buatTransaksi' %}">Buat Transaksi</a></li>
                {% endif %}
                <li><a href="{% url 'pages:daftarTransaksi' %}">Daftar Transaksi</a></li>
            </ul>
        </li>
        <ul class="list-unstyled CTAs">
            <li><a class="download" href="{% url 'user:logout' %}">Logout</a></li>
        </ul>
    </ul>
</nav>