{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='transaksi' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatTransaksi' %}">Transaksi</a></li>
        <li class="breadcrumb-item active">Buat Transaksi</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Form Pembuatan Transaksi</h2>
        <form action="{% url 'pages:buatTransaksi' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleSelect1">Nomor Rekam Medis Pasien</label>
                <select class="form-control" id="exampleSelect1" name="no_rekam_medis" required>
                    {% for ps in no_rekam_medis %}
                    <option>{{ ps.no_rekam_medis }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary btn-lg mt-3" href="#" role="button" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}