{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='transaksi' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}

<div class="d-flex justify-content-center flex-column">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatTransaksi' %}">Daftar Transaksi</a></li>
        <li class="breadcrumb-item active">Daftar Transaksi</li>
    </ol>
    <table class="table table-hover" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">Nomor</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Status</th>
                <th scope="col">Total Biaya</th>
                <th scope="col">Waktu Pembayaran</th>
                <th scope="col">Nomor Rekam Medis Pasien</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for tr in transaksi %}
            <tr>
                <th scope="row">{{ tr.id_transaksi }}</th>
                <td>{{ tr.tanggal }}</td>
                <td>{{ tr.status }}</td>
                <td>{{ tr.total_biaya }}</td>
                <td>{{ tr.waktu_pembayaran }}</td>
                <td>{{ tr.no_rekam_medis }}</td>
                <td class="d-flex">
                    <a class="btn btn-primary " data-toggle="modal" href="#update-modal">Update</a>
                    <form action="{% url 'pages:deleteTransaksi' tr.id_transaksi %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" style="color: #fff;">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- update Modal -->
    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Form Update Transaksi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="hide" id="success">
                        <div class="container d-flex justify-content-center align-items-center">
                            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_3w07tT.json"
                                background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                        </div>
                    </div>
                    <form id="modal-form" class="">
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">ID Transaksi</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Tanggal</label>
                            <input type="text" class="form-control" value="2 Juli 2020" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Status</label>
                            <input type="text" class="form-control" value="Sudah Dibayar" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">Total Biaya</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="Rp250000"
                                    disabled="">
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Waktu Pembayaran</label>
                            <input type="text" class="form-control" value="3 Juli 2020, 17:10:39" placeholder="Default input"
                                id="inputDefault">
                        </div>
                        <div class="form-group">
                            <fieldset disabled="">
                                <label class="control-label" for="disabledInput">Nomor Rekam Medis Pasien</label>
                                <input class="form-control" id="disabledInput" type="text" placeholder="1" disabled="">
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" onclick="update()">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
{% block custom_scripts %}
<script>
    function update() {
        console.log("update Succes")
        $('#modal-form').toggleClass('hide');
        $('#success').toggleClass('hide');
        setTimeout(function () {
            $('#modal-form').toggleClass('hide');
            $('#success').toggleClass('hide');
        }, 3000);
    }
</script>
{% endblock custom_scripts %}