{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='transaksi' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column" style="width: 30vw;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:dashAdmin' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:buatRsCabang' %}">Transaksi</a></li>
        <li class="breadcrumb-item"><a href="{% url 'pages:daftarRsCabang' %}">Daftar Transaksi</a></li>
        <li class="breadcrumb-item active">Update Transaksi</li>
    </ol>
    <div class="jumbotron" style="padding: 3rem 2rem;">
        <h2 class="">Update Transaksi</h2>
        <form action="{% url 'pages:updateRsCabang' kode_rs %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputKodeRs">ID Transaksi</label>
                <input type="text" class="form-control" id="inputIDTransaksi" name="id_transaksi" readonly value="{{ id_transaksi }}">
            </div>
            <div class="form-group">
                <label for="inputTanggal">Tanggal</label>
                <input type="date" class="form-control" id="inputTanggal" name="tanggal"
                    value="{{ tanggal }}">
            </div>
            <div class="form-group">
                <label for="inputJalan">Status</label>
                <input type="text" class="form-control" id="inputStatus" name="status" value="{{ status }}">
            </div>
            <div class="form-group">
                <label for="inputNomor">Total Biaya</label>
                <input type="number" class="form-control" id="inputTotalBiara" name="total_biaya" readonly value="{{ total_biaya }}">
            </div>
            <div class="form-group">
                <label for="inputKota">Waktu Pembayaran</label>
                <input type="text" class="form-control" id="inputWaktuPembayaran" name="waktu_pembayaran" value="{{ waktu_pembayaran }}">
            </div>
            <div class="form-group">
                <label for="inputKota">Nomor Rekam Medis</label>
                <input type="text" class="form-control" id="inputNoRekamMedis" name="no_rekam_medis" readonly value="{{ no_rekam_medis }}">
            </div>
            <button class="btn btn-primary btn-lg mt-3" href="#" role="button">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}