{% extends 'dashboardAdmin/dashboard.html' %}

{% block navbar %}
{% with current_nav='profil' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block content %}
<div class="d-flex justify-content-center flex-column w-75">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active">Profil</li>
    </ol>
    <div class="jumbotron">
        <h4 class="display-4">Selamat Datang, {{ username }}</h4>
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center">
                <strong> Nomor identitas</strong>:{{ nomor_id }}
            </li>
            <li class="list-group-item d-flex align-items-center">
                <strong> Nama lengkap</strong>: {{ nama_lengkap }}
            </li>
            <li class="list-group-item d-flex align-items-center">
                <strong>Email</strong>: {{ email }}
            </li>
            <li class="list-group-item d-flex align-items-center">
                <strong>Tanggal Lahir</strong>: {{ tanggal_lahir }}
            </li>
            <li class="list-group-item d-flex align-items-center">
                <strong>Alamat</strong>: {{ alamat }}
            </li>
        </ul>
        <p class="lead mt-5">
            <a class="btn btn-primary btn-lg" href="#" role="button">Konfigurasi</a>
        </p>
    </div>
</div>

{% endblock content %}